{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock title %}
{% block main-content %}
<div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>"To earn the respect (and eventually love) of your customers, you first have to respect those customers. That is why Golden Rule behavior is embraced by most of the winning companies."</p>
      <footer class="blockquote-footer">Colleen Barret<cite title="Source Title">Southwest Airlines President Emerita</cite></footer>
    </blockquote>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    WE SERVE
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Italian</li>
    <li class="list-group-item">Thai</li>
    <li class="list-group-item">Maxican</li>
    <li class="list-group-item">Chainess</li>
  </ul>
</div>
{% endblock main-content %}