{% extends 'base.html' %}
{% load static %}
{% block title %}Service{% endblock title %}
{% block main-content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'IMG/banner4.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Risotto</h5>
              <p class="card-text">Risotto is a typical northern Italian dish that can be cooked in an infinite number of ways. Creamy and rich in cheese, it is prepared with rice typical of northern areas, such as the Arborio, Carnaroli, and Vialone varieties, and cooked slowly in broth.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'IMG/banner5.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Chilaquiles</h5>
              <p class="card-text">Chilaquiles is definitely the most popular breakfast in the country. Made of triangular pieces of fried or toasted corn tortilla, called totopos, soaked in a red or green hot sauce, topped with shredded chicken, chorizo, shredded beef, and scrambled or sunny side up egg. It is decorated with fresh cheese, coriander, and sliced onion and is served with fried beans on the side. 

              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'IMG/banner6.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Tom Yam Soup with Mushrooms</h5>
              <p class="card-text">Tom Yum or Tom Yam is a spicy Thai soup. It is a type of clear hot and sour soup. This vegetarian version is made with mushrooms and Thai spices. You can savour it in winter months. Pair it with roasted bread and you're done for the day.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'IMG/banner7.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">BIBIMBAP – 비빔밥 (KOREAN MIXED RICE)</h5>
              <p class="card-text">Bibimbap is not only a delicious Korean dish, but it is also an experience.
                You have got to try this Korean mixed rice dish. Bibimbap translates to “mixing rice.” While there are endless possible combinations to the recipe of this dish, the main components are flexible, but there are also a few must-haves.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock main-content %}